.styletext{
    
    height: 30px;
    width: 250px;
}

    .stylebutton{
        background-color: lightgray;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 100%;
        font-weight: bold;
        height: 40px;
        width: 205px;
        }
        .styleheadtable{
            background-color: gainsboro;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 100%;
            font-weight: bold;
            height: 40px;
            width: 205px;
            }
            